<?xml version="1.0" ?>
<launch>
    <arg name="est" default="ekf2" />
    <arg name="vehicle" default="uuv_hippocampus" />
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/uuv_hippocampus.world" />
    <!-- gazebo configs -->
    <arg name="gui" default="true" />
    <arg name="debug" default="false" />
    <arg name="verbose" default="false" />
    <arg name="paused" default="false" />
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="world_name" value="$(arg world)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
        <arg name="paused" value="$(arg paused)" />
    </include>
    <arg name="tank_sdf" value="$(find px4)/Tools/sitl_gazebo/models/uuv_apriltag_tank/model.sdf" />
    <arg name="vehicle_sdf" value="$(find px4)/Tools/sitl_gazebo/models/uuv_hippocampus/$(arg vehicle).sdf" />

    <group ns="uuv00">
        <node name="spawner" pkg="gazebo_ros" type="spawn_model" args="-sdf -f $(arg vehicle_sdf) -model test -x 0.3 -y 0.3" />
    </group>

</launch>
