<launch>
    <arg name="vehicle" default="uuv_hippocampus" />
    <arg name="id" default="0" />
    <arg name="namespace" value="$(eval 'uuv{:02d}'.format(arg('id')))" />

    <arg name="y" default="0" />
    <arg name="x" default="0" />
    <arg name="z" default="0" />
    <arg name="R" default="0" />
    <arg name="P" default="0" />
    <arg name="Y" default="0" />

    <group ns="$(arg namespace)">
        <!-- MAVROS and vehicle configs -->
        <arg name="fcu_url" default="$(eval 'udp://:{}@localhost:{}'.format(14540+arg('id'), 14580+arg('id')))" />
        <arg name="mavlink_udp_port" value="$(eval 14560 + arg('id'))" />
        <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('id'))" />
        <param name="tcp_port" value="$(arg mavlink_tcp_port)" />

        <param name="test" value="$(arg fcu_url)" />
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find hippocampus_sim)/launch/spawn_uuv_hippocampus.launch">
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="R" value="$(arg R)" />
            <arg name="P" value="$(arg P)" />
            <arg name="Y" value="$(arg Y)" />
            <arg name="ID" value="$(arg id)" />
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="" />
            <arg name="tgt_system" value="$(eval 1 + arg('id'))" />
            <arg name="tgt_component" value="1" />
        </include>

        <param name="sim" value="true" />
        <node name="fake_vision" pkg="multi_uuv" type="fake_vision" />
        <rosparam command="load" file="$(find multi_uuv)/config/uuv_list.yaml" />
    </group>

</launch>
